@font-face {
	font-family: "primary-font";
	src: url("../../fonts/vazir-400-fd-wl.eot");
	src: url("../../fonts/vazir-400-fd-wld41d.eot?#iefix") format("embedded-opentype"),
		 url("../../fonts/vazir-400-fd-wl.woff2") format("woff2"),
		 url("../../fonts/vazir-400-fd-wl.woff") format("woff"),
		 url("../../fonts/vazir-400-fd-wl.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: "primary-font";
	src: url("../../fonts/vazir-700-fd-wl.eot");
	src: url("../../fonts/vazir-700-fd-wld41d.eot?#iefix") format("embedded-opentype"),
		 url("../../fonts/vazir-700-fd-wl.woff2") format("woff2"),
		 url("../../fonts/vazir-700-fd-wl.woff") format("woff"),
		 url("../../fonts/vazir-700-fd-wl.ttf") format("truetype");
	font-weight: 700;
}